.multiple {
    max-width: 400px;
    width: 90%;
    gap: 1rem;
    font-family: Cambria, sans-serif;
    font-size: 1em;
    }
    .multiple__input {
        padding: 5px;
        border:0;
        outline: 0;
    }

    .submit_button{
        background-color: #a0a4ee;
        color:rgb(255, 255, 255);

    }
    .submit_button:hover{
        border-color: #0e0e1a;
    }
    